/* боди #FFFFFF */
/* цвет основного текста #757575 */
/* цвет фона приветствия и футер #2F303A */
/* хедер #FFFFFF */
/* цвет  заголовков #212121 */
/* logo #2196F3  #000000 */
/* акцент #2196F3 */
/* почта и телефон rgba(255, 255, 255, 0.6) */
/* адрес и приветствие #FFFFFF */
/* команда фон #F5F4FA */
/* ___________________________ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
  /* list-style: none; */
}
ul {
  list-style: none;
}
/* li {
  display: inline-block;
} */

.image {
  display: flex;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --head-foot-bgcolor: #2f303a;
  --btn-prime-color: #ffffff;
  --btn-second-color: #f5f4fa;
  --greeting-words-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

a {
  text-decoration: none;
}

/* h3 {
  font-weight: 700;
  font-size: 14px;
} */

/* header */
.container {
  width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* .container.greeting {
  background-color: var(--head-foot-bgcolor);
} */
.container.headstyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.cont-site {
  display: flex;
  align-items: baseline;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.list-nav + .list-nav {
  margin-left: 50px;
}
.link {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* логотип */
.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo:focus,
.logo:hover {
  color: var(--accent-color);
}
.logostyle {
  color: #2196f3;
}
.logostyle:hover,
.logostyle:focus {
  color: #000000;
}
/* навигация */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* контакты */

.contacts-link {
  color: var(--primary-text-color);

  font-weight: 500;
  /* font-size: 14px; */
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Приветствие */
.greeting {
  background-color: var(--head-foot-bgcolor);
  text-align: center;
  padding: 200px 15px;
}
.greet-box.container {
  color: var(--btn-prime-color);
  display: inline-block;
  text-align: center;
}
.greeting-title {
  background-color: var(--head-foot-bgcolor);
  color: var(--greeting-words-color);

  /* font-family: Roboto; */
  /* font-style: normal; */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.primary.button {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  margin-top: 30px;

  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* Список преимуществ */
.features {
  padding-bottom: 47px;
  padding-top: 95px;
}
.features-item {
  width: 270px;
}
.features-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.features-list {
  display: flex;
  align-items: baseline;
}
.features-item + .features-item {
  margin-left: 30px;
}
/* чем заняты */
.work {
  padding-bottom: 94px;
  padding-top: 47px;
}
.examples-work-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
}
.examples-list {
  display: flex;
  margin-top: 50px;
}
.examples-item + .examples-item {
  margin-left: 30px;
}

/* Команда молодости нашей */
.team-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.profile .name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.profile .profession {
  font-size: 16px;
  line-height: 1.19;
}
.profile .profile-description {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
}
.profile {
  display: flex;
  margin-top: 50px;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.profession {
  margin-top: 10px;
}

/* Футер */
.footer-section {
  background-color: var(--head-foot-bgcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot-logo {
  color: #ffffff;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  /* display: flex; */
}
.footstyle {
  color: #2196f3;
}
.address-text {
  color: #ffffff;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;

  line-height: 1.71;

  margin-top: 20px;
}
.footer-section .foot-link {
  color: rgba(255, 255, 255, 0.6);

  line-height: 1.71;
}
.footer-section .ident .foot-link {
  margin-top: 9px;
}
.footer-section .foot-link:hover,
.footer-section .foot-link:focus {
  color: var(--accent-color);
}

/* .list-ident {
  display: flex;
  flex-direction: column;
  margin: 9px 0;
} */

/* Страница портфолио */
/* контент main */
.very-good {
  padding: 94px 0;
}

.filter .btn.primary {
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter .btn.second {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter .btn.primary:hover,
.filter .btn.primary:focus {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);
}
.filter .btn.second:hover,
.filter .btn.second:focus {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);
}
.work-list .item-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-list .item {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
.container.content {
  /* padding: 94px 0; */
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
}

.filter {
  display: flex;
  justify-content: center;
}
.item-btn + .item-btn {
  margin-left: 8px;
}
.btn {
  background-color: transparent;
  border: 1px transparent;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  flex-basis: calc((100% - 90px) / 3);
}
.list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.item-title {
  margin-top: 20px;
}
.item {
  margin-top: 4px;
  margin-bottom: 20px;
}
/*                    скрываем заголовки                 */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*                     наши клиенты                         */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-group {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.clients-title {
  text-align: center;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.clients-item {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
}
.cliens-link-icon {
  /* fill="#2196f3" */
  width: 106px;
  height: 60px;
  fill: #2196f3;
}
